<script setup>
import { CarIcon } from 'vue-tabler-icons';
</script>

<template>
  <header>
    <div><CarIcon size="30"></CarIcon></div>
    <div>Taxi - Proxy for chromedriver</div>
  </header>
</template>

<style scoped>
header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
header div {
  padding: 0px 20px;
}
</style>