<script setup>
import RFB from "@novnc/novnc";
import { onMounted, reactive, ref, defineProps } from "vue";

const props = defineProps({
  url: String,
  credentials: Object
});

const div = ref(null);
const rfb = ref(null);
const fullscreen = ref(false);
const status = ref({ type: 'info', text: 'init' });
const setStatus = (status) => {
  status.value = status
}

onMounted(() => {
  const rfbLocal = new RFB(div.value, props.url, { credentials: props.credentials, shared: true });
  rfbLocal.scaleViewport = true
  rfbLocal.addEventListener('connect', () => {
    setStatus({ type: 'success', text: 'connected' });
  });
  rfbLocal.addEventListener('disconnect', () => {
    setStatus({ type: 'danger', text: 'disconnected' });
  });
  rfbLocal.addEventListener('credentialsrequired', () => {
    rfbLocal.sendCredentials(props.credentials);
  });
  rfbLocal.addEventListener('securityfailure', console.log);
  rfbLocal.addEventListener('clipboard', console.log);
  rfbLocal.addEventListener('bell', console.log);

  rfb.value = rfbLocal;
})

</script>

<template>
  <div id="outer" :class="{ fullscreen: fullscreen, terminating: status.text === 'terminating' }">
    <div ref="div" class="container"/>
    <div id="container__info">

    </div>
    <div id="container__actions">
    </div>
  </div>
</template>

<style scoped>
#outer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 800px;
  height: 580px;
  border: 1px solid #ccc;
}
#outer div.container {
  width: 800px;
  height: 500px;
}
#container__info {
  height: 30px;
}
#container__actions {
  height: 50px;
}
#outer.fullscreen {
  width: 100vw;
  height: 100vh;
}
#outer.fullscreen div.container {
  width: 100vw;
  height: 100vh;
}
</style>