<script setup>
import { CarIcon } from 'vue-tabler-icons';

</script>

<template>
  <div id="placeholder">
    <CarIcon size="60"></CarIcon>
    <h1>Waiting for connection...</h1>
  </div>

</template>

<style>
#placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}
#placeholder svg {
  color: #f1b21f;
}
</style>