<script setup>
  import TaxiHeader from './components/Header.vue'
  import NoVnc from './components/NoVnc.vue'
  import Placeholder from './components/Placeholder.vue'
  import { onMounted } from "vue";

  const socketUrl = (path) => {
    const loc = window.location;
    return ((loc.protocol === 'https:') ? 'wss://' : 'ws://') + loc.host + path
  }

  onMounted(() => {
    const socket = new WebSocket(socketUrl('/window'));
    socket.onmessage = (evt) => {
      const data = JSON.parse(evt.data);
    }
  })
</script>

<template>
  <TaxiHeader />
  <div id="taxi" v-if="true">
    <NoVnc url="ws://127.0.0.1:6081" />
  </div>
</template>

<style scoped>
#taxi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

</style>
